<footer class="footer">
  <div class="container footer-inner">
    
    <div class="footer-left small">
      © 2026 — Tous droits réservés · By Benovitch
    </div>

    <div class="footer-right small">
      <a href="{{BASE}}faq/">FAQ</a>
      <span>•</span>
      <a href="{{BASE}}legal/">Légal</a>
      <span>•</span>
      <a href="{{BASE}}legal/cgu.html">CGU</a>
      <span>•</span>
      <a href="{{BASE}}legal/cgv.html">CGV</a>
      <span>•</span>
      <a href="{{BASE}}legal/confidentialite.html">Confidentialité</a>
       <span>•</span>
      <a href="{{BASE}}legal/mentions.html">Mentions</a>

    </div>

  </div>
</footer>
